{% extends 'layouts/base.html.twig' %}

{% block title 'Log in!' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-5 mt-3 text-center">Please sign in</h1>
            <P class="mb-5 text-center text-muted">
                Your pins are waiting for you.
            </P>
            <form method="post">
                {% if error %}
                    <div class="alert alert-error rounded mb-3" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

                {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html
                #}
                <div class="d-flex justify-content-between">
                    <div class="form-group">
                         <div class="form-check">
                            <input class="form-check-input " type="checkbox" name="_remember_me" id="_remember_me">
                             <label class="form-check-label" for="_remember_me" >
                                    Remember me
                             </label>
                        </div>
                    </div>
                    <a href="#" class="">forgot password ?</a>
                </div>


                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in
                </button>
                <div class="mt-5 mb-3 text-center text-muted">
                    Si vous n'avez pas encore de compte, <a href="#">Veillez vous enrefistrer</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
