{% extends 'base.html.twig' %}

{% block body %}
<h1>Page not found !!!</h1>
<p>
    La page que vous êtes entrain de demander n'existe pas,<br>
    Veillez réessayez plutard ou si le problème persiste veillez votre fournisseur<br>
    <a href="{{ path('app_home')}} ">Revenir à la page d'accueil<a>
</p>

{% endblock %}
