    <footer class="container text-center my-5">
        <p class="text-muted">
            <small >
                &copy; CopyRignt {{'now'|date('Y')}}&middot; 
                Built with <span class="text-danger">&hearts;</span> by <a href="#" 
                class="text-indigo-500 hover:text-indigo-600 underline"> About Me</a>
            </small>
        </p>
    </footer>