{% extends 'base.html.twig' %}

{% block title 'Edit Pin #'~pin.id) %}

{% block body %}
    <h1>Create pins</h1>
    {{form_start(form)}}
        {{form_widget(form)}}
        <input type="submit" value="create Pin">
    {{form_end(form)}}
{% endblock %}
