{% extends 'base.html.twig' %}

{% block title 'Find all the best pins on earth !' %}

{% block body %}
<h1>All pins</h1>
{% for pin in pins %}
    <article>
        <h2>{{ pin.title }}</h2>
        <p>{{ pins.description }}</p>
    </article>
{% endfor %}
{% endblock %}
